---
title: API Reference

language_tabs: # must be one of https://git.io/vQNgJ
  - shell
  - C#
  - PHP
  - javascript

toc_footers:
  - <a>For questions contact:</a>

  - <a href='api.support@asendia.com'>api.support@asendia.com</a>

includes:
  - tracking
  - shipping
  - ishipper

search: true

code_clipboard: true

meta:
  - name: description
    content: Documentation for the Asendia APIs
---

# Introduction

The Asendia Mediation Layer will be the back-end configuration using the powerful cloud features of AWS. The needs of Asendia’s customers and partners in terms of onboarding, shipments processing, invoice information, shipments tracking, and customer support services will be processed during serverless data transformation. The project involves integration of existing Asendia Systems such as A-CRM, A-Shipping, A-Tracking, Ishipper, Anchanto’s OMS and WMS as well as the newly created Customer Engagement Platform (CEP), developed by Anchanto.

